.btns {
    text-align: left;
    font-size: 12px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    column-gap: 2rem;
    background-color: var(--color-white-shade);
}

.btn {
    text-align: left;
    font-size: 12px;
    background-color: var(--color-black);
    color: var(--color-white);
    cursor: pointer;
    transition: transform 0.25s ease-in, opacity 0.25s ease-in, filter 0.25s ease-in;
}

.btn:hover {
    transform: scale(1);
}

.btns.defocus .btn:not(.focused) {
    transform: scale(0.8);
    opacity: 0.8;
    filter: blur(4px);
}
